version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: commercial_store_db_beta
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - beta_postgres_data:/var/lib/postgresql/data

volumes:
  beta_postgres_data:
